
- @entities.group_by(&:folder).each do |folder, entities|
  = link_to image_tag("folder.jpg", alt: folder.name, width: 48) + folder.name, folder_path(folder)
  %ul.uk-grid-width-large-1-6.uk-grid-width-medium-1-4.uk-grid.uk-margin
    - entities.each do |e|
      %li
        .uk-panel.uk-panel-box.uk-panel-box-primary.uk-text-center
          .uk-panel-teaser
            = link_to image_tag("model.jpg", alt: e.name, width: 64, class: 'uk-border-rounded uk-margin-top'), entity_path(e)
          .uk-panel-title
            = e.name


