%ul.uk-nav.fc-nav{'data-uk-nav' => true}
  %li.uk-nav-header Defaults
  %li.uk-active
    = link_to "我的模型", entities_path

  %li.uk-nav-header 个人设置
  %li
    = link_to "修改密码", ""
  %li
    = link_to "个人设置", ""
