.uk-width-medium-1-1.su_models_header
  %ul.uk-tab{'data-uk-tab' => '{connect: "#tabs"}'}
    %li.uk-active
      %a 属性
    %li
      %a{'ui-sref' => 'local'} 本地
    %li
      %a{'ui-sref' => 'remote'} 远程
    %li
      %a{'ui-sref' => 'system'} 构建中国
  -##search_area.uk-margin-right.uk-medium-widht-1-3
    -#%input.uk-form-small{name: 'search'}
    -#%span
      -#%i.uk-icon-user

  %ul#tabs.uk-switcher.uk-margin
    %li.uk-active
      .models.su_attributes
        %div{"ng-show" => "current_entity.type=='component_definition'"}
          %table.uk-table.uk-table-hover.uk-table.stripped
            %thead
              %tr
                %th.uk-text-center 属性
                %th.uk-text-center 值

            %tbody
              %tr{"ng-repeat" => "attr in displayable_attributes(current_entity.dynamic_attributes)"}
                %td.uk-text-right {{attr.key}}
                %td
                  %input{"ng-value" => "{{attr.value}}"}
        %div{"ng-hide" => "current_entity.type=='component_definition'"}
          .uk-alert.uk-alert-success.uk-text-center 请选择一个组件


    %li
    %li
