!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = javascript_include_tag 'plugin'
    = stylesheet_link_tag 'plugin'

  %body{'ng-app' => 'building'}
    .uk-container.uk-container-center.su-container{'ng-controller' => 'main'}
      .data-channel
        %input#local_skp_names{type: 'hidden', name: '', 'ng-model' => 'local_skp_names'}
        %input#current_model{type: 'hidden', name: '', 'ng-model' => 'current_model'}

      .uk-grid#model_profile
        .uk-medium-width-1-3
          = image_tag "model.jpg", width: 128,  'data-uk-margin' => true
        .uk-medium-width-2-3
          .uk-vertical-align-middle
            = form_tag url: "", method: "post", class: "uk-form" do
              %input.uk-form-large.uk-margin-bottom{value: "#DH1323"}
          #action_bar
            %button.uk-button.uk-button-small.uk-primary.uk-float-right 保存
            %button.uk-button.uk-button-small.uk-primary.uk-float-right.uk-margin-right 替换 

      .uk-grid#models
        .uk-width-medium-1-1.su_models_header
          %ul.uk-tab{'data-uk-tabs' => '{connect: "#tabs"}'}
            %li
              %a{href: ''} 本地
            %li
              %a{href: ''} 远程
            %li
              %a{href: ''} 构建中国
          #search_area.uk-margin-right.uk-medium-widht-1-3
            %input.uk-form-small{name: 'search'}
            %span
              %i.uk-icon-user

          %ul#tabs.uk-switcher.uk-margin
            %li
            %li

        .uk-grid#ad

        .uk-grid#user_profile
          %button.uk-button.uk-button-primary.uk-float-right.uk-margin-right 我要注册
          %button.uk-button.uk-button-primary.uk-float-right.uk-margin-right 我要登录



