!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = javascript_include_tag 'plugin'
    = stylesheet_link_tag 'plugin'
    = csrf_meta_tag

  %body{'ng-app' => 'building'}
    .uk-container.uk-container-center.su-container{'ng-controller' => 'Main'}
      .data-channel
        %input#data_transfer_channel{type: 'hidden'}

      .uk-grid#model_profile
        .uk-width-1-3
          %img{'ng-src' => "{{current_model.thumbnail_src}}", 'width' => 123, 'class' => "data-uk-margin"}
        .uk-width-2-3
          = form_tag "", method: "post", class: "uk-form" do
            %input.uk-form-small.uk-margin-bottom.uk-float-right.fc-name-field{'ng-model' => "current_model.name", 'ng-change' => "current_model_name_change()"}
            .uk-clearfix
          #action_bar
            %button.uk-button.uk-button-small.uk-primary.uk-float-right{"disabled" => "{{!current_model.name}}"} 替换
            %button.uk-button.uk-button-small.uk-primary.uk-float-right.uk-margin-right{'ng-click' => "bridge('save_current_model')", "disabled" => "!current_model.name"} 保存

      #models
        %ui-view
          %h1 blalals

      #ad

      #user_profile.uk-container
        %button.uk-button.uk-button-primary.uk-float-right.uk-margin-right 我要注册
        %button.uk-button.uk-button-primary.uk-float-right.uk-margin-right 我要登录



